# Python virtual environment
.venv/
venv/
frontend/node_modules/

# Python cache
__pycache__/
*.pyc
*.pyo

# Environment variables
.env

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Machine Learning model files
*.pkl
*.joblib